.control {
  transition: all var(--transition-micro-medium);
  border: 1px solid var(--neutral-alpha-weak);
  border-radius: 0;
  background: var(--surface-background);
  box-shadow: none;
  overflow: hidden;

  .content {
    transition: transform var(--transition-micro-medium);
  }

  .arrowIcon {
    opacity: 0.6;
    transform: translateX(0);
    transition: all var(--transition-micro-medium);
  }

  &:hover {
    border-color: var(--brand-alpha-medium);
    box-shadow: none;
    background: var(--neutral-background-weak);

    .arrowIcon {
      opacity: 1;
      transform: translateX(4px);
      color: var(--brand-solid-strong);
      transition: all 0.5s ease-in-out;
    }
  }
}

@media (--s) {
  .control {
    flex-direction: column !important;
  }
}
